<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded" style="min-height: 140px;">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="../images/User icon.jpg" style="width:140px;">
    </a>

    <ul class="navbar-nav ml-auto" style="color:white; ">
      <li>นาย &nbsp; xxxxxxxxxx &nbsp;</li>
      <li>TYPE &nbsp;</li>
      <li>Academic staff &nbsp;</li>
      <li><img src="../images/LogOut icon.png" style="width:40px;"></li>
    </ul>
  </nav>


  <div class="container-fluid" style="width:1300px;">
    <div class="row">
      <nav class="col-sm-2">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/main">หน้าหลัก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">จัดการตึก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage/student">จัดการบุคลากร</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/manage/course">คอร์สเรียน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">คุมสอบ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">คำร้อง</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">จัดการปีการศึกษา</a>
          </li>
        </ul>
      </nav>


      <div class="col-sm-10">
        <div class="container">

                <h1 align="center">จัดการปีการศึกษา</h1>

                <form method="post" action="/manage/year/post">
                  <div class="form-group">
                      ปีการศึกษาปัจจุบัน <br>
                    <input type="text" class="form-control" name="year" placeholder="ปีการศึกษาปัจจุบัน">
                  </div>
                  <div class="form-group">
                      ภาคการศึกษา <br>
                        <select class="form-control" id="semester" name="prefixName">
                          <option>ภาคต้น</option>
                          <option>ภาคปลาย</option>
                          <option>ภาคฤดูร้อน</option>
                        </select>
                      </div>
        
                  <button type="submit" class="btn btn-info float-right" >ยืนยัน</button>
                  
                </form>
        

          

        </div>
      </div>


    </div>
  </div>


  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
    <ul style="width:150px">
      <li>
        &nbsp;
      </li>
    </ul>
  </nav>
</body>

</html>